@{
    ViewData["Title"] = "Access Denied";
}

<div class="container mt-5 text-center">
    <h2>⛔ Access Denied</h2>
    <p>You do not have permission to view this page.</p>
    <a href="/Home/Index" class="btn btn-dark">Return to Home</a>
</div>